@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);


.loader {
 	width: 150px;
	height: 30px;
	background: linear-gradient(#cbcbcb 0 0) left -40px top 0 / 40px 100% no-repeat #141e30;
	mask: conic-gradient(from 90deg at 5px 5px, #0000 25%, #000 0) 0 0 / calc((100% - 5px) / 5) calc(100% - 5px);
	-webkit-mask: conic-gradient(from 90deg at 5px 5px, #0000 25%, #000 0) 0 0 / calc((100% - 5px) / 5) calc(100% - 5px);
	animation: l10 1s infinite linear;
	z-index: 210;
	display: flex;
	
	position: fixed;
	/*top: 50%;
	right: 45%*/;
}
@keyframes l10 {
  100% {background-position: right -40px top 0}
}

.loader-bg {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	position: fixed;
	z-index: 200;
	background-color: #141e30;
	opacity: 0.9;
    transition: opacity 0.5s ease;
}

.nav-link {
	display: flex;
	padding: 0.5rem 1rem !important;
	
}
.active-link, .active-link:focus{
	color: #d3ff13!important;
	border-bottom: 4px solid;
	background-color: #d3ff1315;
	border-radius: 20px;
}

.main-title{
	font-size: 4rem;
	color: black;
	text-shadow: 0px 0px 7px #d3ff13;
}
.main-header {
	background-color: #141e30!important;
	line-height: 3;
	box-shadow: 0px 0px 10px 2px #d3ff139e;
	font-size: 1.1rem;
	display: flex;
    justify-content: end;
}

 /* new css for card design*/
  .container {
	  max-width: 1250px;
  }
  
  .row {
	  display: flex;
	  flex-wrap: wrap;
	  margin:auto;
  	  justify-content: space-evenly;
  	  align-items: baseline;
  	  
  }
  .row-title {
	text-align: start; 
	justify-content: start; 
	font-size: 2rem; 
	font-weight: 700; 
	color: black; 
	text-shadow: 0px 0px 7px #d3ff13;
	margin: 10px 0px
  }
  .flex-mywidth {
	  flex: 1 0 19rem;
	  max-width: 19rem;
	  height: 28pc;
  }
@media (max-width: 1245px) {
  .flex-mywidth {
    flex: 1 0 19rem;
    max-width: 22rem;
  }
}
  
 .movie-name {
	font-size: 0.7rem; 
	color: #d3ff13;
 } 
  .movie-card {
    width: 100%;/*15rem;*/
    height: 25rem;
    border-radius: 10px;
    margin: 20px 0px;
    border: 1px solid black;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #f0f0f0;
    box-shadow: 0 0px 20px 5px rgb(207, 207, 207, 0.2);
  }
  .movie-card .movie-image {
   /* position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;*/
    opacity: 1;
    transition: opacity 0.2s ease-out;
    
	position: relative;
    width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 100 !important;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	mask-image: linear-gradient(to bottom, black 0%, black 35%, black 50%, black 65%, rgba(0, 0, 0, 0.6) 70%, transparent 100%);
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, black), color-stop(0.35, black), color-stop(0.5, black), color-stop(0.65, black), color-stop(0.7, rgba(0, 0, 0, 0.6)), color-stop(1, transparent));
  }
  .movie-card .movie-title {
    position: absolute;
    left: 23px;
    bottom: 3.5pc;
    margin: 0;
    transition: inset 0.3s 0.3s ease-out;
    font-weight: normal;
    /*text-transform: uppercase;*/
    z-index: 110;
	max-width: 90%;
  }
  
.limit-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
  
  .movie-card .movie-detail {
	color: white!important;
    position: absolute;
    opacity: 0;
    /* visibility: hidden; */
    max-width: 80%;
    transition: opacity 0.3s ease-out, visibility 0s 0.3s;
    z-index: 120;
  }
  .movie-card .movie-detail {
	left: 12px;
	top: 9pc;
	max-width: 90%;
  }

  .movie-card:hover .movie-title {
    inset: auto auto 250px 23px;
    transition: inset 0.3s ease-out;
    
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .movie-card:hover .movie-detail {
    opacity: 1;
    /* visibility: visible; */
    transition: opacity 0.7s ease-in, visibility 0s;
  }
  .movie-card:hover .movie-image {
    transition: opacity 0.3s ease-in;
    opacity: 0.3;
  }


/* old css */
  
html {
	background-color: #222222;
}

body {
	background-color: #1a1a1a;
	color: #f4f2f2;
	background: linear-gradient(#141e30, #243b55);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


.movie-card:hover {
	box-shadow: 5px 5px 115px -14px black;
}


footer {
	box-shadow: 0px 0px 20px 5px #000000ad;
	color: #888888;
	padding: 15px 15px 0px 15px;
	margin-top: 50px;
	height: auto;
	display: flex;
	position: relative;
	width: 100%;
	bottom: 0
}




.container {
	width: 100%;
	height: 100%;
}

.text-movie-cont {
	padding: 0px 8px;
	text-align: justify;
}

.action-btn {
	text-align: right;
}

.action-btn i {
	color: #fe4141;
	font-size: 28px;
	text-align: right;
}

.watch-btn {
	display: block;
	border: 1px solid #fe4141;
	border-radius: 5px;
	padding: 4px;
	width: 140px;
}

.watch-btn h3 i {
	font-size: 14px;
	margin-right: 2px;
	position: relative;
	float: left;
	line-height: 1;
}

.action-row {
	margin: 2px 0px;
	padding: 5px 0px;
}

.summary-row {
	margin-top: 5px;
}

/* TYPOGRAPHY STARTS */
/* Fonts */
h1 h2,
h3,
h4,
h5 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Montserrat", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #e7e7e7;
	margin: 0px;
}

h3 {
	font-size: 14px;
	font-weight: 400;
	color: #fe4141;
}

h5 {
	font-size: 12px;
	font-weight: 400;
}

.movie-gen,
.movie-likes {
	margin: 0px;
	padding: 0px;
}

.movie-gen li,
small {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: white;
	width: auto;
	display: block;
	float: left;
	margin-right: 10px;
	font-weight: 600;
}

.movie-rating {
	display: inline!important;
    text-align: end;
}

.rating-text {
	font-size: 12px;
	font-weight: 900;
    color: #d3ff13;
}

.movie-likes {
	float: right;
}

.movie-likes li {
	color: #fe4141;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	width: auto;
	display: inline-block;
	font-weight: 600;
}

.movie-likes li:last-child {
	margin-right: 0px;
}

.movie-likes li i {
	font-size: 14px;
	margin-right: 4px;
	position: relative;
	float: left;
	line-height: 1;
}

.movie-details {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #b4b4b4;
}

.movie-description {
	font-family: "Open Sans", sans-serif;
	font-size: 0.7rem;
	color: white;
	text-align: start;
	line-height: 1.3;
	word-spacing: 2px;
	display: -webkit-box;
	-webkit-line-clamp: 7;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.movie-actors {
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #e7e7e7;
	font-style: italic;
}

/* TYPOGRAPHY ENDS */
/** GRID STARTS **/
.thegrid {
	margin: 0 auto;
}

.elements-distance,
.movie-details,
.movie-description,
.movie-actors {
	margin: 0px;
}

.mr-grid {
	width: 100%;
}

.mr-grid:before,
.mr-grid:after {
	content: "";
	display: table;
}

.mr-grid:after {
	clear: both;
}

.mr-grid {
	zoom: 1;
}

.col1,
.col2,
.col3,
.col3rest,
.col4,
.col4rest,
.col5,
.col5rest,
.col6,
.col6rest {
	margin: 0% 0.5% 0.5% 0.5%;
	padding: 1%;
	float: left;
	display: inline-flex;
	flex-direction: column;
}

/* Columns match, minus margin sum. E.G. margin-left+margin-right=1%, col2=50%-1% - added padding:1%*/
.col1 {
	width: 100%;
	box-sizing: border-box;
}



.col2 {
	width: 47%;
}

.col3 {
	width: 30.3333333333%;
}

.col4 {
	width: 22%;
}

.col5 {
	width: 17%;
}

.col6 {
	width: 13.6666666667%;
}

/* Columns match with their individual number. E.G. col3+col3rest=full width row */
.col3rest {
	width: 63.6666666667%;
}

.col4rest {
	width: 72%;
}

.col5rest {
	width: 77%;
}

.col6rest {
	width: 80.3333333333%;
}

.dribbble-link {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	border-radius: 50px;
}

#title {
	font-size: 1.5rem;
    font-weight: 600;
	margin-bottom: 10px;
}

#Button-1 {
	margin-left: 25px;
}
.button-m {
	margin: 5px 5px;
}
.button-m i {
	font-size: 11px;
}

.button-effect {
	background-color: #11171c;
    font-size: 0.6rem;
    font-weight: 700;
    color: gray;
   /* border: 1px solid #f7f7f7;*/
    border-radius: 15px;
    padding: 10px 7px;
    transition: all 0.2s ease;
}

.action-row {
    opacity: 1 !important;
    pointer-events: all;     
    transition: none;        
    z-index: 150;            
    position: relative;      
	bottom: 4.9pc;
    left: 0pc;
    width: 100%;
}

.button-effect:hover {
	transform: scale(1.08);
	color: #d3ff13;
	border-color: #d3ff13;
}
.button-del:hover {
	transform: scale(1.08);
	color: #FF3131;
	border-color: #FF3131;
}
.button-effect:focus {
	outline: none;
}
.button-effect:active:focus {
	border-color: #d3ff13;
}
.button-del:active:focus {
	border-color: #FF3131;
}

.empty-text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 6rem;
	font-weight: bold;
	color: #8080803d;
	height: 25pc;
	margin: 10pt auto;
}

.filter {
	display: inline-flex;
	color: rgba(255,255,255,.5);
	font-size: larger;
	padding: 12pt 3rem 2px 3rem;
	margin: 10px 0px;
	justify-content: end;
	align-items: center;
	text-align: end;
	width: 100%;
}

.fil-sel {
	background-color: #fbfbff00;
	color: #d3ff13;
	border-radius: 6px;
	border-block-end: none;
	outline: none !important;
}

.filter-label {
	margin: 0px 5px;
	padding-right: 5px;
}
.nav-align {
	text-align: center;
    align-items: center;
    justify-content: center;
}
.nav-title {
	padding: 0px 5px;
    margin: 0px 35px;
    color: black;
    font-size: 20px;
    max-height: fit-content;
    font-weight: 900;
    text-shadow: 0px 0px 7px #d3ff13;
}

.popup {
    width: 20pc;
    height: auto;
    background-color: #11171c;
    border: 2px outset #d3ff13;
	border-bottom-left-radius: 1pc;
	border-bottom-right-radius: 1pc;
    position: fixed;
    top: 1pc;
    right: -7pc;
    text-align: center;
    padding: 10px;
    color: white;
    z-index: 150;
    transform: translateX(-50%);
}
@media only screen and (max-width: 420px) {
	.popup {
		right: -9pc;
	}
  }
.message {
	display: inline;
	font-size: 1rem;
}
.progress-bar-container {
	position: absolute;
	top: -12px;
    left: 0px;
	margin-top: 10px; 
	background: white;
	height: 5px; 
	width: 100%
}
.progress-bar {
	background: #d3ff13;
	height: 100%
}

.form-button {
	display: block;
	color: white;
	width: 40%;
    margin: 3% auto;
    background-color: #141e30;
    border: 2px outset #141e30;
    border-radius: 2pc;
    font-size: 1.3rem;
    box-shadow: 0 0 10px 1px black!important;
    cursor: pointer;
}
.form-button:hover {
	background-color: #243b55 !important;
    border: 2px inset #141e30 !important;
    color: #888888;
}
.form-button:focus {
    box-shadow: 0 0 10px 1px black!important;
    color: #d3ff13;
}
.form-control, .form-control:focus {
	background-color: #bebebe!important;
	box-shadow: 0px 0px 5px black!important;
	border: none!important;
}

footer {
  position: relative;
  bottom: 0px;
  right: 0px;
}
.footer-list {
	list-style: none;
	padding: 5px;
	
}
.footer-link {
	color: #888888;	
	font-size: 1rem;
}
.footer-link:hover {
	color: white;
	text-decoration: underline;
}
footer .app-title {
  text-align: start; 
  justify-content: start; 
  font-size: 2rem; 
  font-weight: 700; 
  color: black;
  text-shadow: 0px 0px 7px #d3ff13;
  margin: 10px 0px;
}

.not-found {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #888888;
	height: 25pc;
	margin: 5pc auto;
}

.home-b {
	font-size: 1.2rem;
    color: #d3ff13;
    border: 4px inset black;
    border-radius: 2pc;
    padding: 10px 25px;
    text-decoration: none;
}
.home-b:hover{
	background-color: black;
}

.nf-p {
    padding: 10px;
    margin: 5px;
    font-size: 1.1rem;
    
}

.form-container {
	max-width: 650px!important;
	width: 100%;
	margin: 8% auto 8% auto;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, .6);
	border-radius: 3pc;
}

@media (max-width: 767px) {
	.form-container {
		padding: 15px;
	}
}
.watched-icon {
	position: relative;
	bottom: 29pc;
	left: 14.5pc;
	font-size: 2rem;
	color: #d3ff13;
	z-index: 150;
}
.navbar-toggler {
	margin: 0pc 1pc;
}
.navbar-toggler:focus {
	box-shadow: none;
}

.eye-pos {
	position: relative;
	left: 19pc;
    bottom: 9.5pc;
}
@media (max-width: 390px) {
	.eye-pos {
		left: 18pc;
	}
}
@media (max-width: 370px) {
	.eye-pos {
		left: 17pc;
	}
}
@media (max-width: 350px) {
	.eye-pos {
		left: 16pc;
	}
}

#movieForm i {
	color: #d3ff13;
	font-size: 15px; 
	margin-right: 5px;
}